<div class="appointment-form card shadow-lg p-4">
  <h4 class="mb-4">Update visit time</h4>
  <form [formGroup]="appointmentForm">
    <div class="form-group mb-3">
      <label for="appointmentDate" class="form-label">Date</label>
      <input
        formControlName="appointmentDate"
        type="date"
        class="form-control"
        (change)="onDateChange($event)"
      />
      <div
        *ngIf="
          appointmentForm.get('appointmentDate')?.invalid &&
          appointmentForm.get('appointmentDate')?.touched
        "
        class="text-danger"
      >
        Date is required.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="driver" class="form-label">Time slot</label>
      <select formControlName="timeSlot" class="form-select">
        <option value="{{ existingAppointment?.timeSlot }}" disabled>
          {{ existingAppointment?.timeSlot }}
        </option>
        <option *ngFor="let slot of availableTimeSlots" [value]="slot">
          {{ slot }}
        </option>
      </select>
      <div
        *ngIf="
          appointmentForm.get('timeSlot')?.invalid &&
          appointmentForm.get('timeSlot')?.touched
        "
        class="text-danger"
      >
        Time slot is required.
      </div>
    </div>

    <div class="d-flex justify-content-end mt-4">
      <button type="button" class="btn btn-danger btn-sm me-2" (click)="navigateToHome()">
        Cancel
      </button>
      <button type="submit" class="btn btn-success" (click)="onSubmit()">
        Update
      </button>
    </div>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
    {{ errorMessage }}
  </div>
</div>
