<div>
  <header
    class="d-flex justify-content-between align-items-center p-3 bg-primary text-white"
  >
    <h3>Welcome, {{ getUserName() }}!</h3>
    <div>
      <button
        *ngIf="userType === 'TruckingCompany'"
        class="btn btn-light"
        (click)="addNewAppointment()"
      >
        New Appointment
      </button>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
      <span class="profile-icon">Profile</span>
    </div>
  </header>

  <div class="row table-responsive mt-3">
    <div class="col-md-12">
      <!-- <h5>Available Appointments</h5> -->
      <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
          <tr>
            <th>Id</th>
            <th>Port</th>
            <th>Trucking Company</th>
            <th>GstNo</th>
            <th>Transport Lic.</th>
            <th>Driver</th>
            <th>Move Type</th>
            <th>Container Number</th>
            <th>Line</th>
            <th>Appointment Status</th>
            <th>Appointment Created</th>
            <th>Valid Through</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.appointmentId }}</td>
            <td>{{ appointment.portName }}</td>
            <td>{{ appointment.trCompanyName }}</td>
            <td>{{ appointment.gstNo }}</td>
            <td>{{ appointment.transportLicNo }}</td>
            <td>{{ appointment.driverName }}</td>
            <td>{{ appointment.moveType }}</td>
            <td>{{ appointment.containerNumber }}</td>
            <td>{{ appointment.line }}</td>
            <td>{{ appointment.appointmentStatus }}</td>
            <td>{{ appointment.appointmentCreated }}</td>
            <td>{{ appointment.appointmentValidThrough }}</td>
            <td *ngIf="userType === 'TruckingCompany'">
              <button
                class="btn btn-warning"
                (click)="updateAppointment(appointment.appointmentId)"
              >
                Update
              </button>
            </td>
            <td *ngIf="userType === 'TruckingCompany'">
              <button
                class="btn btn-danger"
                (click)="deleteAppointment(appointment.appointmentId)"
              >
                Delete
              </button>
            </td>
            <td *ngIf="userType === 'Terminal'">
              <button
                class="btn btn-danger"
                (click)="cancelAppointment(appointment.appointmentId)"
              >
                Cancel
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <footer class="mt-5">
    <p>&copy; 2024 Advent Appointment Booking</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="/privacy-policy">Privacy Policy</a>
      </li>
      <li class="list-inline-item"><a href="/terms">Terms of Service</a></li>
    </ul>
  </footer>
</div>
