<div class="container mt-4">
  <button class="btn btn-primary mb-3" (click)="addDriver()">Add Driver</button>

  @if (drivers.length === 0) {
  <div class="alert alert-info" role="alert">
    No drivers available! Click on <b>Add driver</b> to add new drivers.
  </div>
  } @else {
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Driver Name</th>
        <th>Plate Number</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of drivers">
        <td>{{ driver.driverName }}</td>
        <td>{{ driver.plateNo }}</td>
        <td>{{ driver.phoneNumber }}</td>
        <td>
          <button
            class="btn btn-warning"
            (click)="updateDriver(driver.driverId)"
          >
            Update
          </button>
          <button
            class="btn btn-danger"
            (click)="deleteDriver(driver.driverId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  }
</div>
