<div class="container-fluid mt-4">
  <div class="mb-4">
  <button class="btn btn-secondary" (click)="navigateToHome()">
    Back to Home Page
  </button>
  <button class="btn btn-primary ms-2" (click)="addDriver()">
    Add Driver
  </button>
</div>

  @if (drivers.length === 0) {
  <div class="alert alert-info" role="alert">
    No drivers available! Click on <b>Add driver</b> to add new drivers.
  </div>
  } @else {
  <table class="table table-striped table-bordered">
    <thead class="">
      <tr>
        <th>Driver Name</th>
        <th>Plate Number</th>
        <th>Phone Number</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of drivers">
        <td>{{ driver.driverName }}</td>
        <td>{{ driver.plateNo }}</td>
        <td>{{ driver.phoneNumber }}</td>
        <td>
          <button
            class="btn btn-warning"
            (click)="updateDriver(driver.driverId)"
          >
            Update
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger"
            (click)="deleteDriver(driver.driverId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  }
</div>
