<div class="table-responsive container-fluid">
  @if (appointments.length === 0) {
  <div class="alert alert-info mt-5" role="alert">
    @if (userType === 'Terminal') { You do not have any upcoming appointments! }
    @else { You do not have any upcoming appointments. Click on
    <b>New Appointment</b> to schedule an appointment! }
  </div>
  } @else {
  <table class="table table-hover table-bordered table-striped">
    <thead class="table-info">
      <tr>
        <th>Id</th>
        <th>Port</th>
        <th *ngIf="userType === 'Terminal'">Trucking Company</th>
        <th *ngIf="userType === 'Terminal'">GstNo</th>
        <th *ngIf="userType === 'Terminal'">Transport Lic.</th>
        <th>Driver</th>
        <th>Move Type</th>
        <th>Container Number</th>
        <th>Line</th>
        <th>Appointment Status</th>
        <th>Appointment Created</th>
        <th>Valid Through</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.appointmentId }}</td>
        <td>{{ appointment.portName }}</td>
        <td *ngIf="userType === 'Terminal'">
          {{ appointment.trCompanyName }}
        </td>
        <td *ngIf="userType === 'Terminal'">{{ appointment.gstNo }}</td>
        <td *ngIf="userType === 'Terminal'">
          {{ appointment.transportLicNo }}
        </td>
        <td>{{ appointment.driverName }}</td>
        <td>{{ appointment.moveType }}</td>
        <td>{{ appointment.containerNumber }}</td>
        <td>{{ appointment.line }}</td>
        <td
          [ngStyle]="{
            color:
              appointment.appointmentStatus === appointmentStatus.Approved
                ? 'green'
                : appointment.appointmentStatus === appointmentStatus.Canceled
                ? 'red'
                : 'black'
          }"
        >
          {{ appointment.appointmentStatus }}
        </td>
        <td>{{ appointment.appointmentCreated }}</td>
        <td>{{ appointment.appointmentValidThrough }}</td>
        <td
          *ngIf="
            userType === 'TruckingCompany' &&
            appointment.appointmentStatus !== appointmentStatus.Canceled
          "
        >
          <button
            class="btn btn-warning"
            (click)="updateAppointment(appointment.appointmentId)"
          >
            Update
          </button>
        </td>
        <td *ngIf="userType === 'TruckingCompany'">
          <button
            class="btn btn-danger"
            (click)="deleteAppointment(appointment.appointmentId)"
          >
            Delete
          </button>
        </td>
        <td *ngIf="userType === 'Terminal'">
          <button
            class="btn btn-warning"
            (click)="cancelAppointment(appointment.appointmentId)"
          >
            Cancel
          </button>
        </td>
        <td *ngIf="userType === 'Terminal'">
          <button
            class="btn btn-info"
            (click)="approveAppointment(appointment.appointmentId)"
          >
            Approve
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  }

  <p>
    <span style="color: red">*</span> Terminal operator has authority to
    approve/cancel your appointment.
  </p>
</div>
